/* Global */

:root {
    --whitecloud: #FAFAFA;
    --cloudheight: 30vh;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Geologica', sans-serif;
    color: #151515;
    font-size: 1em;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

button {
    font-family: 'Geologica', sans-serif;
    color: #151515;
    font-size: 1rem;
    font-weight: 300;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    min-height: 44px;
    transition: color 200ms, background-color 200ms;
}

button:hover {
    cursor: pointer;
    background-color: #151515;
    color: #FFFFFF;
}

/* Results display */

main {
    width: calc(100vw / 3);
    min-width: max-content;
    z-index: 1;
    display: grid;
    grid-template-rows: auto auto;
    gap: 50px;
    margin: 50px;
}

.result {
    background-color: rgba(250, 250, 250, 0.25);
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.placetime {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: column;
}

.condition {
    grid-area: 2 / 1 / 3 / 3;
}

.temp, .humidity, .placetime, .condition {
    background-color: rgba(250, 250, 250, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.temp::before, .humidity::before {
    font-size: 1rem;
    font-weight: 300;
    display: block;
}

.temp::before {
    content: "Temperature:";
}

.humidity::before {
    content: "Humidity:";
}

/* Search bar */

form {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

input[type="text"] {
    font-family: 'Geologica', sans-serif;
    color: #151515;
    font-size: 1rem;
    font-weight: 300;
    background-color: rgba(250, 250, 250, 0.75);
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

input[type="text"]:focus {
    background-color: #FFFFFF;
    outline: 2px solid #000000;
}

/* Options */

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* Sky */

.sky {
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clear-day {
    background: linear-gradient(180deg, #1976D2 0%, #90CAF9 100%);
}

.clear-night {
    background: linear-gradient(180deg, #191745 0%, #303F9F 100%);
}

.overcast-day {
    background: linear-gradient(180deg, #455A64 0%, #B0BEC5 100%);
}

.overcast-night {
    background: linear-gradient(180deg, #131313 0%, #37474F 100%);
}

.clouds, .stars {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Clouds */

.clouds {
    display: none;
}

.light-cloud, .light-cloud::before, .light-cloud::after {
    background-color: #FFFFFF;
}

.dark-cloud, .dark-cloud::before, .dark-cloud::after {
    background-color: #455A64;
}

.cloud {
    opacity: 0.75;
    border-radius: calc(var(--cloudheight) * 0.5);
    height: var(--cloudheight);
    width: calc(var(--cloudheight) * 3);
    margin-top: calc(var(--cloudheight) * 0.75);
    position: fixed;
}

.cloud:first-of-type {
    animation: 10s infinite swell, 4s infinite bob;
    top: calc(var(--cloudheight) * -0.25);
    left: calc(var(--cloudheight) * -0.25);
}

.cloud:first-of-type::before {
    content: "";
    border-radius: 50%;
    height: 175%;
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 10%;
    animation: 25s infinite bob;
}

.cloud:first-of-type::after {
    content: "";
    border-radius: 50%;
    height: var(--cloudheight);
    width: var(--cloudheight);
    position: absolute;
    top: -75%;
    left: 55%;
}

.cloud:last-of-type {
    animation: 15s infinite swell, 4s infinite bob;
    bottom: calc(var(--cloudheight) * -0.25);
    right: calc(var(--cloudheight) * -0.25);
}

.cloud:last-of-type::before {
    content: "";
    border-radius: 50%;
    height: 160%;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 35%;
    animation: 20s infinite bob;
}

.cloud:last-of-type::after {
    content: "";
    border-radius: 50%;
    height: var(--cloudheight);
    width: var(--cloudheight);
    position: absolute;
    top: -50%;
    left: 15%;
    animation: 5s infinite swell;
}

@keyframes swell {
    from {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
    to {
        scale: 1;
    }
}
  
@keyframes bob {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
    to {
       transform: translateY(0);
    }
}

/* Stars */
  
.star {
    background-color: #ffffff;
    border-radius: 50%;
    position: fixed;
}

.star:nth-of-type(10n) {
    animation: 4s infinite twinkle1;
}
  
.star:nth-of-type(15n) {
    animation: 5s infinite twinkle2;
}
  
@keyframes twinkle1 {
    from {
        scale: 1;
        opacity: 0.25;
    }
    50% {
        box-shadow: 0 0 5px 1px rgba(250, 250, 250, 0.5);
        scale: 1.25;
        opacity: 1;
    }
    to {
        scale: 1;
        opacity: 0.25;
    }
}
  
@keyframes twinkle2 {
    from {
        box-shadow: 0 0 5px 1px rgba(250, 250, 250, 0.5);
        scale: 1.25;
        opacity: 1;
    }
    50% {
        scale: 1;
        opacity: 0.25;
    }
    to {
        box-shadow: 0 0 5px 1px rgba(250, 250, 250, 0.5);
        scale: 1.25;
        opacity: 1;
    }
}

/* No animation settings */

.no-animation {
    transition: none;
}