/* Global */

:root {
    --bluesky: linear-gradient(180deg, #1976D2 0%, #90CAF9 100%);
    --whitecloud: #FAFAFA;
    --cloudheight: 20vh;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Geologica', sans-serif;
    color: #151515;
    font-size: 1em;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 300;
}

/* Results display */

main {
    width: 25vw;
    min-width: max-content;
    z-index: 1;
    display: grid;
    grid-template-rows: auto auto;
    gap: 30px;
    margin: 30px;
}

.result {
    background-color: rgba(250, 250, 250, 0.25);
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.placetime {
    grid-area: 1 / 1 / 2 / 4;
}

.condition {
    grid-area: 2 / 1 / 3 / 4;
}

.temp, .placetime, .condition {
    background-color: rgba(250, 250, 250, 0.5);
    border-radius: 10px;
    padding: 10px;
}

/* Search bar */

form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

input[type="text"] {
    font-family: 'Geologica', sans-serif;
    color: #151515;
    font-size: 1rem;
    font-weight: 300;
    background-color: rgba(250, 250, 250, 0.75);
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

input[type="text"]:focus {
    background-color: #FFFFFF;
}

button {
    font-family: 'Geologica', sans-serif;
    color: #151515;
    font-size: 1rem;
    font-weight: 300;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    transition: color 250ms, background-color 250ms;
}

button:hover {
    cursor: pointer;
    background-color: #151515;
    color: #FFFFFF;
}

/* Sky */

.sky {
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: var(--bluesky);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}